#debugging-box {
  position: absolute;
  color: red;
}

* {
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}


* {
  margin:0px;
  padding:0px;
  font-family: 'Open Sans', sans-serif;

}

/*header-------------*/

header{
  background-color: #404041;
  width:100%;
  padding: 20px 0px;
  display:flex;
  justify-content: center;
}


.navbar_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width:400px;
}

.navbar__h1{
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  color:#DD1972;
  font-size: 46px;
  width: 100%;
}

.navbar_span {
  font-weight: 700;
}

.navbar__subhead {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color:#FFFFFF;
}

.navbar__h4 {
  font-weight: 300;
  font-size: 12px;
  margin: 0px 5px;
}

 hr {
  width: 25%;
  height: .5px;
  background-color: #FFFFFF;
}

/*column alignment----*/

.main {
  display: flex;
  flex-wrap: wrap;


}

.game {
  display:flex;
  flex-direction: column;
  align-content: center;
  flex:1;
  background-color: #F7F7F7;
  width:50%;
}

/*right side*/

.results {
  display:flex;
  flex:1;
  background-color: #D0D2D3;
  width:50%;
}


/*set range ---------*/

.range {
  display: flex;
  flex-direction: column;
  width: 96%;
  padding: 15px;
  background-color: #FFFFFF;
  border: 1px solid grey;
  border-radius: 2px;
  margin: 10px;

}

.range__form--row {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.range__form--h2 {
  margin-bottom: 5px;
}

.range__form {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 68%;
}

.range__input--label {
  display:flex;
  flex-direction: column;
  justify-content:flex-end;
  align-content: center;
 /* padding-top: 15px;*/
  width: 47%;
}

.range__input--min,
.range__input--max {
  height: 25px;
}


.range__input--btn {
  align-items: flex-end;
  width: 29%;
  height: 25px;
  border-radius: 25px;
  color:#ffffff;
  background-color: #6E6E6E;
  font-weight: 700;
  font-size: 15px;
}

/*user article--------- */

 
.user__article--latest-score {
  display: flex;
  flex-direction: column;
  width: 96%;
  padding: 15px;
  background-color: #FFFFFF;
  border: 1px solid grey;
  border-radius: 2px;
  margin: 10px;
}

.user__article{
  display: flex;
  flex-direction: column;
  width: 96%;
  padding: 15px;
  background-color: #FFFFFF;
  border: 1px solid grey;
  border-radius: 2px;
  margin: 10px;
}

.user__span--min,
.user__span--max {
  font-weight: 700
}

.user__form--ch1,
.user__form--ch2 {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.user__form--one,
.user__form--two,
.user__form--one-guess,
.user__form--two-guess {
  display:flex;
  flex-direction: column;
  margin: 10px 0px;
}

.user__form--one,
.user__form--two {
  width: 63%;
}

.user__form--one-guess,
.user__form--two-guess {
  width:30%;
}

.ch1-name,
.ch2-name {
  font-weight: 700;
  margin-top:10px;
  color: #6E6E6E;
}

.clear-disable  {
  background-color: lightgrey;
}

.reset-disable  {
  background-color: lightgrey;
}

.user__section--current-guesses {
  display: flex;
  justify-content: space-around;
}

.user__article--title {
  margin-left: 6%;
}

.user__p--current-guess-big {
  color: pink;
}

.user__section--submit-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:100%;
  margin: 10px 0px;
}

.submit__btn,
.reset__game--btn,
.clear__game--btn {
  width:30%;
  border-radius: 25px;
  height: 25px;
  color:#ffffff;
  font-size: 15px;
  font-weight: 700;
}

#user__input--ch2-name,
#user__input--ch2-guess,
#user__input--ch1-name,
#user__input--ch1-guess {
  height: 25px;
}





/*winning card container*/


.card__container {
  display: flex;
  flex-direction: center;
  justify-content: center;
  border: solid 1px black;
  height: 200px;
  width: 85%;
  padding: 20px;
  margin: 10px;
  background-color: #FFFFFF;
  border: 1px solid grey;
  border-radius: 2px;
 
}

.card__span {
  font-size: 35px;
  color:#6E6E6E;
  }

.card__container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
}

.card__hr {
  display:flex;
  align-content: center;
  width:97%;
}

.card__container--title {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.card__container--winner {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.card__span--guess,
.card__span--minutes,
.card__span--main {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center;
  align-content: flex-start;
}

.card__span--ch1, 
.card__span--ch2 {
   color:#D0D2D3;
   font-size: 15px;
   font-weight: 700;
}

.card__span--exit {
  border-radius: 50%;
  font-weight: 300;
  padding:0px 7px;
  width:7%;
}


/*error block styling*/
.pink-border {
  border-color: #DD1972;
}

.hide-error {
  display: none;
}

img {
  margin-bottom: 2%;
  width: 10%;
}

#user__article--names-not-alpha-numeric img, #user__article--guesses-not-numeric img, #range__input--outofrange-error {
  float: left;
}

#range__input--min-range-error, #range__input--nan-error {
  height: 0%;
  width: 100%;
}

#user__article--names-not-alpha-numeric {
  margin-right: 25%;
  height: 0%;
}

#user__article--guesses-not-numeric, #range__input--outofrange-error {
  margin-left: 40%;
  height: 0%;
}

#range__input--min-range-error p, #range__input--nan-error p {
  font-size: 0.55em;
  float: right;
  color: #DD1972; 
}

#user__article--names-not-alpha-numeric p, #user__article--guesses-not-numeric p, #range__input--outofrange-error p {
  font-size: 0.55em;
  color: #DD1972; 
}

